*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
/* reuseable component */
.btn{
    font-weight: 600;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    padding: 18px;
    border-radius: 8px;
    text-decoration: none;
}
.btn_primary{
    background-color: #FFFFFF;
    color: #005FAC;
}
.btn_secondary{
    background: #005FAC;
    color: #FFFFFF;
}
section{
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 150px;
}
.section_title{
    font-weight: 700;
    font-size: 40px;
    color: #151414;
}
.section_description{
    margin: 30px 0;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}
/* banner section start */
header{
    background-image: url(../images/banner/banner3.png);
    background-size: cover;
}
.header_content{
    /* width: 230px; */
    padding: 230px 0 450px 160px;
}
.header_title{
    font-weight: 700;
    font-size: 65px;
    color: #FFFFFF;
}
/* banner section end */
/* technology section start */
.technology_part{
    display: flex;
    gap: 120px;
    justify-content: space-around;
}
.technology_description{
    color: #444343;
}
.technology_left_area{
    margin-top: 250px;
}
.technology_left_area li{
    list-style-type: none;
    color: #444343;
    margin-bottom: 5px;
}
.technology_left_area li i{
    color: #16D887;
}
/* technology section end */
/* my plan section start */
.my_plan{
    padding-top: 150px;
    padding-bottom: 50px;
    text-align: center;
    margin: 0 auto;
}
.plan_section_title{
    text-align: center;
    margin-bottom: 50px;
}
.plan_list{
    display: flex;
    gap: 180px;
    justify-content: space-between;
}
.plan_title{
    margin: 16px 0;
    font-weight: 700;
    font-size: 30px;
    color: #151414;
}
.plan_description{
    font-weight: 500;
    font-size: 25px;
    color: #737272;
}
/* my plan section end */
/* contract section start */
.contact{
    background-image: linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0) 100%), url(../images/watch.png);
    background-size: cover;
    border-radius:  8px;
    margin-bottom: 300px;
}
.contract_content{
    padding: 60px 70px;

}
.contact_title{
    color: #FFFFFF;
    margin-bottom: 35px;
}
/* contract section end */